@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?&family=Jost:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?&family=Quicksand:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

/*========== Header ==========*/
    /* Wrapper */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

    /* Logo */
#logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#logo-ive {
    font-size: 36px;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    
    background: -webkit-linear-gradient(left, #0277BD, #00E5FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#logo-airline {
    font-size: 24px;
    font-family: 'Abril Fatface', cursive;
    color: #424242;
}

    /* Navagation */
header li, 
header a, 
header button {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: #757575;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 0px 24px;
}

    /* Login & register button */
#btn_login {
    padding: 8px 24px;
    margin: 0 3px;
    
    color: white;
    background: #0277BD;
    border: none;
    border-radius: 24px;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#btn_register {
    padding: 6px 24px;
    margin: 0 3px;

    color: #0277BD;
    background: none;
    border: 2px #0277BD solid;
    border-radius: 24px;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 2px 0 rgba(0, 0, 0, 0.2) inset;
    cursor: pointer;
}



/*========== Content ==========*/
section {
    position: relative;
    width: 100%;
    height: 75vh;
    background: rgb(69,39,160);
    background: linear-gradient(
        66deg, 
        rgba(69,39,160,1) 0%, 
        rgba(40,53,147,1) 12%, 
        rgba(2,119,189,1) 100%
    );
    overflow: hidden;
}
section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../wave.png);
    background-size: 1000px 100px;
}
section .wave.wave1 {
    animation: animate1 24s linear infinite;
    z-index: 100;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
section .wave.wave2 {
    animation: animate2 16s linear infinite;
    z-index: 99;
    opacity: 0.60;
    animation-delay: -2s;
    bottom: 5px;
}
section .wave.wave3 {
    animation: animate1 20s linear infinite;
    z-index: 98;
    opacity: 0.40;
    animation-delay: -4s;
    bottom: 10px;
}
section .wave.wave4 {
    animation: animate2 10s linear infinite;
    z-index: 97;
    opacity: 0.20;
    animation-delay: -6s;
    bottom: 15px;
}
@keyframes animate1 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}