#search {
    position: absolute;

    display: inline-block;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
}
#search #search-header {
    min-height: 80px;

    display: flex;
    align-items: center;

    background-color: #0277BD;
    border-bottom: 2px #BDBDBD dashed;
    border-radius: 12px 12px 0 0;
}
#search h1 {
    display: flex;
    align-items: center;

    padding-left: 36px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}
#search h1::after {
    margin-left: 8px;
    content: "\e905";
    color: white;
    font-size: 36px;
    font-family: "Material Icons";
    font-weight: 400;
}
#search-form {
    display: inline-flex;
    flex-direction: column;
    gap: 1.0rem;
    padding: 12px 36px;

    color: #757575;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600; 
}
#search-form .search-row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
}