@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?&family=Jost:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?&family=Quicksand:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

/*========== Header ==========*/
    /* Wrapper */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

    /* Logo */
#logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#logo-ive {
    font-size: 36px;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    
    background: -webkit-linear-gradient(left, #0277BD, #00E5FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#logo-airline {
    font-size: 24px;
    font-family: 'Abril Fatface', cursive;
    color: #424242;
}

    /* Navagation */
li, a, button {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: #757575;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 0px 24px;
}

    /* Login & register button */
#btn_login {
    padding: 8px 24px;
    margin: 0 3px;
    color: white;
    background: #0277BD;
    border: none;
    border-radius: 24px;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#btn_register {
    padding: 6px 24px;
    margin: 0 3px;
    color: #0277BD;
    background: none;
    border: 2px #0277BD solid;
    border-radius: 24px;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 2px 0 rgba(0, 0, 0, 0.2) inset;
    cursor: pointer;
}



/*========== Content ==========*/
section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #37474F;
    overflow: hidden;
}
section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../wave.png);
    background-size: 1000px 100px;
}
section .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
section .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
section .wave.wave3 {
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}
section .wave.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}
@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}
/* section {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

section p {
    color: white;
    font-size: 64px;
    line-height: 64px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-transform: uppercase;

    border: 1px red solid;
}

p:first-child {
    font-size: 128px;
    line-height: 128px;
    font-weight: 700;
}

video {
    position: absolute;
    width: 100%;
    margin-top: -100px;
    z-index: -1;
} */